@font-face {
	font-family: 'GolosTextWebRegular';
	src:
		url('https://interneuro.ru/upload/web-book/book-1/banners-biotehnos/golos-text/Golos-Text_Regular.woff2') format('woff2'),
		url('https://interneuro.ru/upload/web-book/book-1/banners-biotehnos/golos-text/Golos-Text_Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GolosTextWebBold';
	src:
		url('https://interneuro.ru/upload/web-book/book-1/banners-biotehnos/golos-text/Golos-Text_Bold.woff2') format('woff2'),
		url('https://interneuro.ru/upload/web-book/book-1/banners-biotehnos/golos-text/Golos-Text_Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
:root{
    --font-subt: 700 22px/26px 'GolosTextWebBold', sans-serif;
}
.biot-container{
    padding: 34px 35px;
    font-family: 'GolosTextWebRegular', sans-serif;
    font-style: normal;
    background-repeat: no-repeat;
}
.biot-container p, .biot-container li{
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #263238;
}
.biot-container.wrapper-1{
    height: 750px;
    background-image:   url(https://interneuro.ru/upload/web-book/book-1/banners-biotehnos/bg-topLeft.svg), 
                        url(https://interneuro.ru/upload/web-book/book-1/banners-biotehnos/medical.gif),
                        url(https://interneuro.ru/upload/web-book/book-1/banners-biotehnos/bg-centerBt.svg);
    background-position: 0 0, 490% 120%, -121% 100%;
    background-repeat: no-repeat;
    background-size:auto, 436px, auto;
}
.biot-container.wrapper-2{
    height: 750px;
    background-image:   url(https://interneuro.ru/upload/web-book/book-1/banners-biotehnos/bg-topRight.svg), 
                        url(https://interneuro.ru/upload/web-book/book-1/banners-biotehnos/medical.gif),
                        url(https://interneuro.ru/upload/web-book/book-1/banners-biotehnos/bg-centerBt.svg);
    background-position: 100% 0, -298% 120%, 193% 100%;
    background-repeat: no-repeat;
    background-size:auto, 436px, auto;
}
.biot-container .biot-img{
    float: left;
    width: 124px;
    height: 134px;
    margin-right: 12px;
    margin-top: 6px;
}
.biot-container .biot-title{
    font-family: 'GolosTextWebBold';
    margin-top: -6px;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 26px;
    line-height: 114%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #0F316F;
}
.biot-container .biot-descr{
    margin-top: 6px;
    font-weight: 700;
    font-size: 15px;
    line-height: 112%;
    letter-spacing: -0.01em;
    color: #8AC545;
}
#biot-subtitle{
    margin: 44px 0 11px;
    font: var(--font-subt);
    color: #263238;
}
.biot-container .biot-ul{
    margin-bottom: 44px;
    padding: 0;
}
.biot-container .biot-ul li {
    position: relative;
    margin-bottom: 7px;
    margin-left: 27px;
    list-style-type: none;
}
.biot-container .biot-ul li::before {
    position: absolute;
    content: "•";
    color: #ADE968;
    left: -29px;
    top: 1px;
    font-size: 41px;
}
.biot-container .biot-number{
    display: block;
    margin-top: 16px;
    font: var(--font-subt);
}
.biot-container .biot-button{
    position: relative;
    display: inline-block;
    margin-top: 49px;
    padding: 19px 56px 20px 30px;
    font: 700 17px/20px 'GolosTextWebBold', sans-serif;
    text-decoration: none;
    color: #263238;
    background-color: #ADE968;
    border-radius: 2px;
    box-shadow: 0 0 0 #8AC545;
    transition: box-shadow 0.3s;
}
.biot-container .biot-button::after{
    position: absolute;
    content: url(https://interneuro.ru/upload/web-book/book-1/banners-biotehnos/icon-button1.svg);
    top: 19px;
    right: 28px;
    width: 18px;
    height: 18px;
}
.biot-container .biot-button:hover{
    box-shadow: 2px 2px 0 #8AC545;
}
.biot-container .biot-button:active{
    top: 1px;
    left: 1px;
    box-shadow: 0 0 0 #8AC545;
    transition: box-shadow 0.2s;
}
.biot-container .biot-h3{
    margin: 46px 0 5px;
    font: 700 17px/20px 'GolosTextWebBold';
    color: #8AC545;
}
.biot-container .biot-h3:first-child{
    margin-top: 0;
}
.biot-container .biot-about{
    width: 193px;
    margin-top: 223px;
    margin-left: auto;
    text-align: right;
}
.biot-about p{
    text-align: right;
}
.biot-container .biot-about a{
    display: inline-block;
    margin-top: 13px;
    font: 700 17px/20px 'GolosTextWebBold', sans-serif;
    text-align: right;
    text-decoration-line: underline;
    color: #0F316F;
}


@media(min-width: 1025px) and (max-width: 1200px){
    .biot-container.wrapper-1 {
        height: 600px;
        background-position: 0 0, 331% 119%, -200% 100%;
        background-size: 65%, 320px, 120%;
    }
    .biot-container.wrapper-2 {
        height: 600px;
        background-position: 100% 0, -173% 119%, 301% 100%;
        background-size: 53%, 320px, 120%;
    }
    .biot-container .biot-img {

        width: 99px;
        height: 107px;
    }
    .biot-container .biot-title {
        font-size: 21px;
        line-height: 112%;
    }
    .biot-container .biot-descr {
        font-size: 11px;
    }
    #biot-subtitle{
        margin: 22px 0 10px;
        font-size: 17px;
        line-height: 20px;
    }
    .biot-container .biot-ul li {
        margin-left: 18px;
    }
    .biot-container .biot-ul li::before {
        left: -20px;
    }
    .biot-container p, .biot-container li {
        font-size: 14px;
        line-height: 17px;
    }
    .biot-container .biot-ul {
        margin-bottom: 20px;
    }
    .biot-container .biot-number {
        margin-top: 11px;
        font-size: 16px;
        line-height: 17px;
    }
    .biot-container .biot-button {
        margin-top: 14px;
        padding: 14px 43px 15px 24px;
        font: 700 15px/17px 'GolosTextWebBold', sans-serif;
    }
    .biot-container .biot-button::after {
        top: 14px;
        right: 19px;
    }
    .biot-container .biot-h3 {
        margin: 25px 0 3px;
        font: 700 15px/17px 'GolosTextWebBold', sans-serif;
    }
    .biot-container .biot-about {
        width: 184px;
        margin-top: 95px;
    }
    .biot-container .biot-about a{
        margin-top: 0;
    }
}
@media(max-width: 768px){
    .book__main-content {
        height: 100%;
    }
    .biot-container {
        padding: 34px calc(27vw - 70px);
    }
    .biot-container.wrapper-1{
        height: 100%;
        background-image:   url(https://interneuro.ru/upload/web-book/book-1/banners-biotehnos/bg-topLeft.svg), 
                            url(https://interneuro.ru/upload/web-book/book-1/banners-biotehnos/bg-centerBt.svg);
        background-position: 0 0, 100% 100%;
    }
    .biot-container.wrapper-2{
        height: 100%;
        background-image:   url(https://interneuro.ru/upload/web-book/book-1/banners-biotehnos/bg-topRight.svg), 
                            url(https://interneuro.ru/upload/web-book/book-1/banners-biotehnos/bg-centerBt.svg);
        background-position: 100% 0, -50% 100%;
    }
    .biot-container .biot-title{
        font-size: calc(20px + 0.7vw);
    }
    .biot-container .biot-ul li {
        margin-left: 8px;
        margin-bottom: 1.4vw;
    }
    .biot-container .biot-ul li::before {
        left: -11px;
        top: -2px;
        font-size: 30px;
    }
    #biot-subtitle{
        margin: 22px 0 11px;
        font-size: calc(2vw + 7px);
    }
    .biot-container .biot-ul {
        margin-bottom: 29px;
    }
    .biot-container .biot-button {
        margin-top: 29px;
    }
    .biot-container .biot-about {
        margin-top: 100px;
    }
    .biot-container .biot-button:hover{
        box-shadow: 0 0 0 #8AC545;
    }
    .biot-container .biot-button:active{
        top: 0;
        left: 0;
    }
}    
@media(max-width: 425px){
    .biot-container {
        padding: 11px 16px;  
    }
    .biot-container.wrapper-1, .biot-container.wrapper-2{
        background-size: 86%;
    }
    .biot-container .biot-img{
        width: 82px;
        height: 89px;
        margin-right: 8px;
        margin-top: 5px;
    }
    .biot-container .biot-title{
        font-size: 17px;
        line-height: 114%;
    }
    .biot-container .biot-descr{
        font-size: 10px;
    }
    #biot-subtitle{
        margin: 17px 0 5px;
        font-size: 17px;
        line-height: 20px;
    }
    .biot-container .biot-ul{
        margin-bottom: 17px;
    }
    .biot-container .biot-ul li {
        font-size: 15px;
        line-height: 18px;
    }
    .biot-container .biot-number{
        margin-top: 9px;
        font-size: 15px;
        line-height: 18px;
    }
    .biot-container .biot-button{
        margin-top: 16px;
        padding: 11px 32px 12px 18px;
        font: 700 12px/14px 'GolosTextWebBold';
    }
    .biot-container .biot-button::after{
        width: 11px;
        height: 11px;
        object-fit: contain;
        top: 13px;
        right: 18px;
    }
    .biot-container .biot-h3 {
        margin: 15px 0 5px;
        font-size: 15px;
        line-height: 17px;
    }
    .biot-h3+p{
        margin: 6px 0px;
    }
}
