/* общие стили */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --padding-leftRight: 48px;
    --headerСolor: #006cb7;
}
.left-page, .right-page{
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 750px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/small-bg-l.jpg);  
}
.right-page{
    background-image: url(img/small-bg-r.jpg);  
}
header, footer, h1, h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--headerСolor);
    font-weight: 600;
}
header{
    display: flex;
    justify-content: space-between;
    margin-top: 34px;
    padding-bottom: 4px;
    width: calc(100% - var(--padding-leftRight));
    border-bottom: 1px solid #006cb7;
    font-size: 11px;
    line-height: 1.2em;
}
.left-page header{
    padding-left: var(--padding-leftRight);
}
.right-page header{
    margin-left: var(--padding-leftRight);
}
.content{
    margin: 10px var(--padding-leftRight) 14px;
    font-size: 0.87rem;
}
.content h1{
    margin: 30px 0;
    text-transform: uppercase;
    font-size: 0.9rem;
}
.content h2{
    margin: 33px 0 17px;
    text-indent: 1.5em;
    font-size: 0.9rem;
}
.content p{
    text-indent: 1.5em;
}
span{
    font-weight: 600;
}
li{
    list-style-position: inside;
    text-indent: 1.5em;
}
footer{
    display: flex;
    bottom: 20px;
    border-top: 1px solid #006cb7;
    margin: auto var(--padding-leftRight) 0;
    padding-bottom: 33px;
}
.right-page footer{
    justify-content: flex-end;
}
.page-number{
    position: relative;
    margin: -7px 0 0 0;
    padding: 3px 0 2px;
    width: 17px;
    background-color: #006cb7;
    color: #fff;
    text-align: center;
    transform: skew(-7deg);
    font-size: 11px;
    line-height: 1.2em;
}
.right-page .page-number{
    margin-right: -5px;
}
.page-number::before{
    position: absolute;
    content: '';
    background-color: #7fb5da;
    bottom: 0;
    left: -5px;
    width: 5px;
    height: 12px;
}


/* конец общих стилей */
.title-page{
    display: flex;
    align-items: center;
    position: relative;
    max-width: 500px;
    min-height: 750px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/big-bg.jpg),
                      url(img/big-bg-2.jpg);
    background-position: 0 0, 100% 100%;
    color: var(--headerСolor);
}
.title-page__content{
    border-left: 1px solid #000;
    margin: -90px 50px 0 77px;
    padding-left: 25px;
}
.title-page__authors{
    padding-bottom: 20px;
    font-size: 1.2em;
    line-height: 1.2em;
    font-weight: 100;
}
.title-page__title{
    margin: 0;
    font-size: 1.3em;
    font-weight: 600;
    line-height: 1.3em;
}