:root{
    --padding-l-r: 48px;
}
.left-page, .right-page{
    display: flex;
    flex-direction: column;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
}
.left-page{
    background-image: url(small-bg-l.jpg);  
}
.right-page{
    background-image: url(small-bg-r.jpg);  
}
header{
    display: flex;
    justify-content: space-between;
    margin-top: 34px;
    padding-bottom: 5px;
    width: calc(100% - 48px);
    border-bottom: 1px solid #006cb7;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 11px;
    color: #006cb7;
    font-weight: 600;
}
.left-page header{
    padding-left: var(--padding-l-r);
}
.right-page header{
    margin-left: var(--padding-l-r);
}
.content{
    margin: 10px var(--padding-l-r) 0;
}

/* .block{
    background-color: aqua;
    width: 50px;
    height: 50px;
    transform: skew(-50deg);
} */
footer{
    display: flex;
    bottom: 20px;
    border-top: 1px solid #006cb7;
    margin: auto var(--padding-l-r) 33px;
}
.left-page footer{
}
.right-page footer{
    justify-content: flex-end;
}
.page-number{
    position: relative;
    margin: -7px 0 0 0px;
    padding: 3px 0 2px;
    width: 17px;
    background-color: #006cb7;
    color: #fff;
    text-align: center;
    transform: skew(-7deg);
    font-size: 0.7em;
}
.right-page .page-number{
    margin-right: -5px;
}
.page-number::before{
    position: absolute;
    content: '';
    background-color: #7fb5da;
    bottom: 0;
    left: -5px;
    width: 5px;
    height: 12px;
}