:root{
    --padding-l-r: 48px;
}
.left-page, .right-page{
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
}
.left-page{
    background-image: url(small-bg-l.jpg);  
}
.right-page{
    background-image: url(small-bg-r.jpg);  
}
header{
    display: flex;
    justify-content: space-between;
    margin-top: 37px;
    padding-bottom: 2px;
    width: calc(100% - 48px);
    border-bottom: 2px solid #006cb7;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 11px;
    color: #006cb7;
    font-weight: 600;
}
.left-page header{
    padding-left: var(--padding-l-r);
}
.right-page header{
    margin-left: var(--padding-l-r);
}


.block{
    background-color: aqua;
    width: 50px;
    height: 50px;
    transform: skew(-50deg);
}
footer{
    position: absolute;
    bottom: 20px;
    margin-top: 20px;
    border-top: 2px solid #006cb7;
    width: 100%;
}
.page-number{
    position: relative;
    margin: -9px 0 0 10px;
    padding: 5px 0 0;
    width: 22px;
    background-color: #006cb7;
    color: #fff;
    text-align: center;
    transform: skew(-5deg);

}
.page-number::before{
    position: absolute;
    content: '';
    background-color: #7fb5da;
    bottom: 0;
    left: -10px;
    width: 10px;
    height: 15px;
}